## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../content/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
cleaned_app_df = application_df.drop(["EIN","NAME"], axis= "columns")

In [5]:
cleaned_app_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [6]:
# Determine the number of unique values in each column.
cleaned_app_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
cleaned_app_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
bins = cleaned_app_df.groupby("APPLICATION_TYPE", as_index=False).count()
bins

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,528,528,528,528,528,528,528,528,528
1,T12,27,27,27,27,27,27,27,27,27
2,T13,66,66,66,66,66,66,66,66,66
3,T14,3,3,3,3,3,3,3,3,3
4,T15,2,2,2,2,2,2,2,2,2
5,T17,1,1,1,1,1,1,1,1,1
6,T19,1065,1065,1065,1065,1065,1065,1065,1065,1065
7,T2,16,16,16,16,16,16,16,16,16
8,T25,3,3,3,3,3,3,3,3,3
9,T29,2,2,2,2,2,2,2,2,2
10,T3,27037,27037,27037,27037,27037,27037,27037,27037,27037
11,T4,1542,1542,1542,1542,1542,1542,1542,1542,1542
12,T5,1173,1173,1173,1173,1173,1173,1173,1173,1173
13,T6,1216,1216,1216,1216,1216,1216,1216,1216,1216
14,T7,725,725,725,725,725,725,725,725,725
15,T8,737,737,737,737,737,737,737,737,737
16,T9,156,156,156,156,156,156,156,156,156

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
bins = cleaned_app_df.groupby("APPLICATION_TYPE", as_index=False).count()
application_types_to_replace = bins[bins.AFFILIATION <528]["APPLICATION_TYPE"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
class_df = cleaned_app_df["CLASSIFICATION"].value_counts()
class_df

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_bins = class_df[class_df>1]
class_bins

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_df[class_df<1882].index)
classifications_to_replace
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
cleaned_app_df = pd.get_dummies(cleaned_app_df,dtype=float)
cleaned_app_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Split our preprocessed data into our features and target arrays
X= cleaned_app_df.drop("IS_SUCCESSFUL",axis=1).values
y= cleaned_app_df["IS_SUCCESSFUL"]


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer

nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=116))
# Second hidden layer

nn.add(tf.keras.layers.Dense(units=30, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 80)                9360

 dense_7 (Dense)             (None, 30)                2430

 dense_8 (Dense)             (None, 1)                 31

=================================================================
Total params: 11,821
Trainable params: 11,821
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5744 - accuracy: 0.7192
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5534 - accuracy: 0.7294
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5499 - accuracy: 0.7299
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7307
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7317
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7330
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7325
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7328
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7346
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7338
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7350
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7350
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7346
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7346
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7344
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7348
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7354
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7358
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7360
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7356
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7372
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7365
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7371
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7379
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7367
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7387
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7379
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7375
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7394
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7386
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7381
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7394
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7393
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7395
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7397
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7387
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7402
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7397
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7401
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7393
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7397
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7404
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7405
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7399
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7402
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7405
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7409
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7403
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7413
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7414
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7408
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7411
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7411
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7412
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7408
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7407
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7415
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5305 - accuracy: 0.7410
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5309 - accuracy: 0.7413
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5301 - accuracy: 0.7410
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5306 - accuracy: 0.7406
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5303 - accuracy: 0.7412
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5301 - accuracy: 0.7411
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7411
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5302 - accuracy: 0.7413
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5298 - accuracy: 0.7419
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5297 - accuracy: 0.7415
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5297 - accuracy: 0.7415
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7420
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5297 - accuracy: 0.7405
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5296 - accuracy: 0.7417
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5295 - accuracy: 0.7418
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5292 - accuracy: 0.7413
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5295 - accuracy: 0.7416
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5297 - accuracy: 0.7414
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5289 - accuracy: 0.7416
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5296 - accuracy: 0.7420
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5291 - accuracy: 0.7416
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5292 - accuracy: 0.7418
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5288 - accuracy: 0.7424
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5289 - accuracy: 0.7414
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5289 - accuracy: 0.7424
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5289 - accuracy: 0.7421
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5287 - accuracy: 0.7419
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5290 - accuracy: 0.7420
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5287 - accuracy: 0.7412
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5292 - accuracy: 0.7421
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5289 - accuracy: 0.7420
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5287 - accuracy: 0.7425
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5287 - accuracy: 0.7423
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5281 - accuracy: 0.7421
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5281 - accuracy: 0.7428
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5281 - accuracy: 0.7428
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5285 - accuracy: 0.7423
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5281 - accuracy: 0.7433
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5283 - accuracy: 0.7422
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5288 - accuracy: 0.7425
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5284 - accuracy: 0.7432
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5278 - accuracy: 0.7428
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5276 - accuracy: 0.7437

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5669 - accuracy: 0.7301 - 309ms/epoch - 1ms/step
Loss: 0.5669057369232178, Accuracy: 0.7301457524299622

In [28]:
# Export our model to HDF5 file
nn.save("content/nn_model.hdf5")

from google.colab import files
files.download("content/nn_model.hdf5")